<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
  <title layout:fragment="title">Home</title>
  <!-- <link layout:fragment="extraHead" th:href="@{/css/home.css}" rel="stylesheet"/> -->
</head>
<body>
  <section layout:fragment="content">
      <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">Welcome to My Blog App!</h1>
  </section>
  <!-- <script layout:fragment="extraScripts" th:src="@{/js/home.js}"></script> -->
</body>
</html>
