<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
  <title layout:fragment="title">Home</title>
  <!-- <link layout:fragment="extraHead" th:href="@{/css/home.css}" rel="stylesheet"/> -->
</head>
<body>
  <section layout:fragment="content">
      <h1 class="text-2xl font-bold text-gray-800 mb-4">Welcome to My Blog App</h1>
      <p class="text-gray-700 text-lg">Out latest blogs:</p>
        <ul class="list-disc list-inside">
          <li th:each="blog : ${blogs}">
            <a th:href="@{/blogs/{id}(id=${blog.id})}" th:text="${blog.title}"></a>
          </li>
        </ul>
  </section>
  <!-- <script layout:fragment="extraScripts" th:src="@{/js/home.js}"></script> -->
</body>
</html>
